.example-card {
  max-width: 250px;
}

.example-header-image {
  background-image: url('./../../../../favicon.ico');
  background-size: cover;
}
#view-color{
  height: 20px;
}

#box{
  border: solid 1px lightgray;
  border-radius: 15px;
  padding: 5px;
}
