<video src="https://mdbootstrap.com/img/video/animation-intro.mp4" autoplay loop playsinline muted></video>
<div class="container-fluid" id="header">
  <div class="row justify-content-center">
    <img src="./../../../assets/slipt_home.svg" alt="">
  </div>
  <div class="row justify-content-center mt-3 text-center" id="testo">
    Un portale pensato da un grafico per i grafici
  </div>
</div>


<div class="container-fluid" id="body">
  <div class="row justify-content-center">
    <button mat-flat-button class="m-4" id="btn" aria-label="Example icon button with a home icon" value="contacts"
      (click)="openDialog()">
      Entra
    </button>
  </div>
</div>
